body {
  background-color: lightgray;
}

h1 {
  color: black;
  font-size: 100px;
}
h2 {
  color: darkgreen;
  font-size: 80px;
}
h3 {
  color: darkgreen;
  font-size: 80px;
}
h4 {
  color: darkgreen;
  font-size: 80px;
}
h5 {
  color: darkgreen;
  font-size: 80px;
}

img {
  max-width: 100%;
  max-height: 100%;
}
