
body {
  background-color: antiquewhite;
}
.crumb {
  width: 95px;
  display: block;
  padding: 2px;
  border-style: solid;
  border-color: red;
}

h1 {
  color: darkgreen;
}

p {
  float: left;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  width: 500px;
}

img {
  float: right;
  width: 500px;
}

h2 {
  color: darkgreen;
  font size: 50px;
}
h3 {
  color: darkgreen;
  font size: 50px;
}
